@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
$fontBase: "Roboto", sans-serif;

$font-xs: 0.5rem;
$font-sm: 0.7rem;
$font-md: 1rem;
$font-lg: 1.5rem;
$font-xl: 2rem;
$font-xxl: 3rem;
$font-xxxl: 6rem;
